@using Model.ViewModels.BaseFeatureType;
@model VmBaseFeatureType

@{
    ViewBag.Title = Model["Main Feature Management"];
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/Resources/Controls/jQueryBootGrid/jquery.bootgrid.min.css" rel="stylesheet" />


<style>
    .grid-img
    {
        width:100px;
    }
    .input-group-addon {
        padding: 10px 12px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        color: #555;
        text-align: center;
        background-color: #eee;
        border-top: 1px solid #ccc;
        border-right: none;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-radius: 4px 0 0 4px;
    }

    .bootgrid-footer .search, .bootgrid-header .search {
        display: inline-block;
        margin: 0 20px 0 0;
        vertical-align: middle;
        width: auto;
    }
</style>

<div class="row">
    <div class="col-8">
        <table id="baseFeatureTypeJqBootGrid" class="table table-condensed table-hover table-striped table-responsive table-bordered">
            <thead>
                <tr>
                    <th data-column-id="commands" data-formatter="commands" data-sortable="false">@Model["Operations"]</th>
                    <th data-column-id="Id" data-type="numeric" data-visible="false">@Model["ID"]</th>
                    <th data-column-id="Name" data-order="desc">@Model["Name"]</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script src="~/Resources/Controls/jQueryBootGrid/jquery.bootgrid.min.js"></script>
<script src="~/Resources/Controls/jQueryBootGrid/jquery.bootgrid.fa.min.js"></script>
<script>
    $(document).ready(function () {

        var grid = $("#baseFeatureTypeJqBootGrid").bootgrid({
        ajaxSettings: {
            method: "GET",
            cache: false
            },
            searchSettings: {
                delay: 100,
                characters: 1
            },
        ajax: true,
        post: function () {
            return {
                searchText: $(".search-field").val()
            };

        },
            url: "/BaseFeatureType/lbg",
        formatters: {

            "commands": function (column, row) {

                return "<button type='button' class='btn btn-xs btn-default command-edit' data-row-command-id='" + row.Id + "'><span class='fa fa-pencil'></span></button> " +
                       "<button type='button' class='btn btn-xs btn-default command-delete' data-row-command-id='" + row.Id + "'><span class='fa fa-trash-o'></span></button>";
            }

        }}).on("loaded.rs.jquery.bootgrid", function () {
            /* Executes after data is loaded and rendered */
            grid.find(".command-edit").on("click", function (e) {
                window.location ='/BaseFeatureType/lbftef/' + $(this).data("row-command-id");
            }).end()
                .find(".command-delete").on("click", function (e) {
                    var id = $(this).data("row-command-id");
                    var currentRow = $(this).parent().parent();

                    showConfirmModal('@Model["Delete Image"]', '@Model["Are you sure?"]', '@Model["Ok"]', '@Model["Cancel"]',
                        function () {
                             
                            $.ajax({
                                type: 'POST',
                                url: '/BaseFeatureType/dbft',
                                data: {
                                    id: id
                                    },
                                dataType: "json",
                                success: function (response) {
                                    if (response.result == true) {
                                        currentRow.remove();
                                    }

                                    alert(response.message);

                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    alert(xhr.message);
                                }
                        });
                        });
                }).end();
        });

        if ($("#addImageButton").length == 0) {
            $("#baseFeatureTypeJqBootGrid-header").find('.actionBar').append('<a href="/BaseFeatureType/lbftdf" id="btnAddBaseFeatureType" class="btn btn-outline-success">@Model["Add Feature"]</a>');
        }

    });
</script>



