
@using Model.ToolsModels.DropDownList
@using Model.ViewModels.Category;
@*@using Model.ToolsModels.Grid;*@

@model VmFirstPagePictureManagement
@{
                /**/

                ViewBag.Title = @Model["First Page Pictures Management"];
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
                Model.ReadOnly = false;
                var adminLanguageElementId = "firstPageImageAdminLanguageIdHidden";

}

<div class="col-12">
    @Html.Label(Model["زبان"], htmlAttributes: new { @class = "control-label col-sm-1 col-12  col-md-1" })
    <div class="col-12 col-sm-4 col-md-3">

        @Html.Partial("_DropDownList", new VmDropDownList
        {
            HtmlElementId = "language_DropDownList",
            DataController = "admin",
            DataAction = "galddl",
            OptionLabel = Model["انتخاب زبان ..."],
            ActiveItemValue = Model.CurrentLanguageId.ToString(),
            OnItemSelected = "LanguageDropDownList_OnClientSelectedItem",

        })
        <input type="hidden" id="@adminLanguageElementId" />


    </div>

</div>


<div class="col-12">
    <hr />

    @*@Html.Partial("_FirstPagePictureGrid", new VmJsGrid()
{
    DataAction = "gil",
    DataController = "Image",

    CreateAction = "Create",
    CreateController = "Image",

    EditAction = "Edit",
    EditController = "Image",

    DeleteAction = "Delete",
    DeleteController = "Image",

    ReadOnly = false,
    HtmlElementId = "FirstPagePictureManagement",
    ExternalHtmlControlId = adminLanguageElementId,
    CurrentLanguageId = Model.CurrentLanguageId,
    LanguageDictionary = Model.LanguageDictionary,
})*@
</div>

<script>
    function LanguageDropDownList_OnClientSelectedItem(id) {

        $("#@adminLanguageElementId").val(id);
        FirstPagePictureManagement.LoadDataUrl = "@Url.Action("gil", "Image")?languageId=" + id;

        HoldOn.open({
            theme: 'sk-bounce',
            message: "<h4>@Model["در حال پردازش، لطفا صبر کنید..."]</h4>"
        });

        FirstPagePictureManagement.LoadData();

        HoldOn.close();
    }
</script>
