
@model Model.ViewModels.Admin.VmAdmin

@{
    ViewBag.Title = Model["بارگذاری زبانها"];
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<hr />


<div class="col-offset-3 col-6">
    @using (Html.BeginForm("ul", "admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-12", id = "uploadLanguageForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <div class="form-group">
                <div class="col-6">
                   @Model["فایل اکسل زبانها را انتخاب کنید"]

                    <div class="input-group input-file" name="uploadedDocument">
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-xs submit-btn-choose-file" type="button"></button>
                        </span>
                        <input type="text" class="form-control path-container" placeholder='@Model["فایل را انتخاب کنید"]' />

                    </div>

                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-4">
                <input type="submit" value="@Model["بارگذاری و ذخیره"]" class="btn btn-primary" onclick="return validateCustomElements();" />
                <hr />

            </div>
        </div>
    }

</div>

@*validate*@
<script>


    function validateCustomElements() {

        if ($(".input-ghost").val() == '') {
            alert("@Model["لطفا فایل را انتخاب کنید"]");
            return false;
        }

        return true;

    }

</script>

@*Initialize*@
<script type="text/javascript">
    function bs_input_file() {
        $(".input-file").before(
            function () {
                if (!$(this).prev().hasClass('input-ghost')) {
                    var element = $("<input type='file' class='input-ghost' required style='visibility:hidden; height:0'>");
                    element.attr("name", $(this).attr("name"));
                    element.change(function () {
                        element.next(element).find('input').val((element.val()).split('\\').pop());
                    })
                    $(this).find("button.submit-btn-choose-file").click(function () {
                        element.click();
                    })
                    $(this).find("button.btn-reset").click(function () {
                        element.val(null);
                        $(this).parents(".input-file").find('input').val('');
                    })
                    $(this).find('input').css("cursor", "pointer");
                    $(this).find('input').mousedown(function () {
                        $(this).parents('.input-file').prev().click();
                        return false;
                    })
                    return element;
                }
            }
        );
    }

    $(document).ready(function () {

        bs_input_file();

       });


</script>


<script>
    $('#uploadLanguageForm').submit(function (e) {
        e.preventDefault();


        var form = $('#uploadLanguageForm');
        if (form.valid() == false) return;

        if (validateCustomElements() == false) { return false;}
        
        var formData = new FormData($('#uploadLanguageForm').get(0));

            HoldOn.open({
                    theme: 'sk-bounce',
                    message: "<h4>@Model["در حال پردازش، لطفا صبر کنید..."]</h4>"
            });
            $.ajax({
                url: "/admin/ul", //you can get also action attribute from form using form.attr('action')
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
            }).done(function (result) {

                window.location = "/home";
                HoldOn.close();

            });

        return false;
    });
</script>
