@model WebShop.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = Model["Forgot Password?"];
}

<div class="information-blocks">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 hidden-md hidden-sm hidden-xs"></div>
            <div class="col-lg-4 col-12">

                <h5>@ViewBag.Title</h5>

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    if (!string.IsNullOrWhiteSpace(@Model.Message))
                    {
                        <h5>@Model.Message</h5>
                    }
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row form-group">
                        @Html.Label(@Model["E-mail"], new { @class = "col-12 control-label" })
                        <div class="col-12">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control rounded-0" })
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-12">

                            <button type="submit" class="button style-4 col-5" value="@Model["E-mail Link"]">
                                <span class="">@Model["E-mail Link"]</span>
                            </button>
                            <a href="/Account/Login" class="button style-3 col-5">
                                <span class="">@Model["Cancel"]</span>

                            </a>
                        </div>
                    </div>
                }

            </div>

        </div>
    </div>
</div>

